<p id="notice"><%= notice %></p>

<h2><%= link_to_unless_current @post.title, @post %></h2>
<%= @post.content.html_safe %>


<%= link_to 'Back', posts_path %>

<h3>Comments</h3>
<div class="fb-comments" data-href="<%= request.original_url %>" data-width="300" data-numposts="3"></div>